:root {
  --blue-100: #d6eaf8;
  --blue-200: #aed6f1;
  --blue-300: #85c1e9;
  --blue-400: #5dade2;
  --blue-500: #2980b9;
  --blue-600: #2471a3;
  --blue-700: #1f618d;
  --blue-800: #1a5276;
  --blue-900: #154360;

  --red-100: #fcdce0;
  --red-200: #f8b7bf;
  --red-300: #f3929e;
  --red-400: #ee6d7d;
  --red-500: #e63946;
  --red-600: #c4303b;
  --red-700: #a22731;
  --red-800: #801e26;
  --red-900: #5e151c;

  --yellow-sharp: #fff200;
 
  --yellow-100: #fef9dc;
  --yellow-200: #fdf1b4;
  --yellow-300: #fbe98b;
  --yellow-400: #f9e062;
  --yellow-500: #f1c40f;
  --yellow-600: #d4ac0d;
  --yellow-700: #b7950b;
  --yellow-800: #9a7d0a;
  --yellow-900: #7d6608;
  --comic-black: #000;
  --black-100: #e6e6e6;
  --black-200: #cccccc;
  --black-300: #b3b3b3;
  --black-400: #999999;
  --black-500: #000000;
  --black-600: #1a1a1a;
  --black-700: #333333;
  --black-800: #4d4d4d;
  --black-900: #666666;
  --comic-white: #fff;
}

body[theme="classic"] {
  --primary-500: var(--red-500);
  --primary-100: var(--red-100);
  --primary-200: var(--red-200);
  --primary-300: var(--red-300);
  --primary-400: var(--red-400);
  --primary-600: var(--red-600);
  --primary-700: var(--red-700);
  --primary-800: var(--red-800);
  --primary-900: var(--red-900);

  --secondary-500: var(--yellow-500);
  --secondary-100: var(--yellow-100);
  --secondary-200: var(--yellow-200);
  --secondary-300: var(--yellow-300);
  --secondary-400: var(--yellow-400);
  --secondary-600: var(--yellow-600);
  --secondary-700: var(--yellow-700);
  --secondary-800: var(--yellow-800);
  --secondary-900: var(--yellow-900);

  --third-500: var(--blue-500);
  --third-100: var(--blue-100);
  --third-200: var(--blue-200);
  --third-300: var(--blue-300);
  --third-400: var(--blue-400);
  --third-600: var(--blue-600);
  --third-700: var(--blue-700);
  --third-800: var(--blue-800);
  --third-900: var(--blue-900);
}

body[theme="skyblue"] {
  --primary-500: var(--blue-500);
  --primary-100: var(--blue-100);
  --primary-200: var(--blue-200);
  --primary-300: var(--blue-300);
  --primary-400: var(--blue-400);
  --primary-600: var(--blue-600);
  --primary-700: var(--blue-700);
  --primary-800: var(--blue-800);
  --primary-900: var(--blue-900);

  --secondary-500: var(--blue-400);
  --secondary-100: var(--blue-100);
  --secondary-200: var(--blue-200);
  --secondary-300: var(--blue-300);
  --secondary-400: var(--blue-400);
  --secondary-600: var(--blue-600);
  --secondary-700: var(--blue-700);
  --secondary-800: var(--blue-800);
  --secondary-900: var(--blue-900);

  --third-500: var(--blue-700);
  --third-100: var(--blue-100);
  --third-200: var(--blue-200);
  --third-300: var(--blue-300);
  --third-400: var(--blue-400);
  --third-600: var(--blue-600);
  --third-700: var(--blue-700);
  --third-800: var(--blue-800);
  --third-900: var(--blue-900);
}

body[theme="superred"] {
  --primary-500: var(--red-500);
  --primary-100: var(--red-100);
  --primary-200: var(--red-200);
  --primary-300: var(--red-300);
  --primary-400: var(--red-400);
  --primary-600: var(--red-600);
  --primary-700: var(--red-700);
  --primary-800: var(--red-800);
  --primary-900: var(--red-900);

  --secondary-500: var(--red-400);
  --secondary-100: var(--red-100);
  --secondary-200: var(--red-200);
  --secondary-300: var(--red-300);
  --secondary-400: var(--red-400);
  --secondary-600: var(--red-600);
  --secondary-700: var(--red-700);
  --secondary-800: var(--red-800);
  --secondary-900: var(--red-900);

  --third-500: var(--red-700);
  --third-100: var(--red-100);
  --third-200: var(--red-200);
  --third-300: var(--red-300);
  --third-400: var(--red-400);
  --third-600: var(--red-600);
  --third-700: var(--red-700);
  --third-800: var(--red-800);
  --third-900: var(--red-900);
}
